## Basics of Python

In this notebook, we are going to learn about some of the basic operations and datatypes within python and how you can write simple functions and codes

### Importing Libraries

Pythonâ€™s standard library is very extensive, offering a wide range of facilities. The library contains built-in modules (written in C) that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules written in Python that provide standardized solutions for many problems that occur in everyday programming. <br/>
https://docs.python.org/3/library/

In [ ]:
# Importing Libraries
import datetime
import pandas as pd
from pandas import read_csv

print("Libraries imported successfully")

Libraries imported successfully

### Data Types in Python

Python has eight built-in data types. Four of those are quite simple, in the sense that they can **store a single value**:

* Integers
* Floats
* Booleans
* Strings


The other four are denoted **collections** because they can **store arbitrary numbers of values**. Python's four collection data types are:

* Lists
* Tuples
* Sets
* Dictionaries

The four complex data types and their various operations are depicted below.

In [1]:
## Simple Variables

a_number = 2.5
a_word = 'dog'

print(a_number) # Printing
type(a_number) # Data Type
type(a_word)

2.5

str

Lists are ordered sequences of elements, with that order being specified by the order that the elements are in when the list is created or as elements are added to the list. <br/>
- Lists are created using the [] syntax.
- Lists can include mixed data types.
- List elements are accessed by index.
- Lists are mutable. You can add, remove, and replace values using functions such as append(), extend(), insert(), pop(), remove(), and del. 

Tuples are similar to lists except for the very important fact that they are immutable.

- Sets are unordered collections of elements.
- Sets are created using the {} syntax.
- Sets can included mixed data types.
- Set elements are accessed by key (name).
- Elements in a set cannot be repeated.
- Sets are mutable. You can add and remove values using functions such as add() and discard().

In [ ]:
pets = ['dogs', 'cats', 'fish']
print(pets)
print(pets[0])
print(pets[1])

['dogs', 'cats', 'fish']
dogs
cats

In [ ]:
pets.append('hedgehog')
pets

['dogs', 'cats', 'fish', 'hedgehog']

In [ ]:
pets.remove('dogs')
pets

['cats', 'fish', 'hedgehog']

In [ ]:
pets.reverse()
print(pets)

pets.sort()
print(pets)

['hedgehog', 'fish', 'cats']
['cats', 'fish', 'hedgehog']

In [ ]:
# Create a tuple that stores the attributes of our golden retriever, `penny`.

penny = (60, 75, 'yellow') #Length (in), Weight (lbs), Color 
print( type(penny) )
penny

<class 'tuple'>

(60, 75, 'yellow')

In [ ]:
del penny[1]

TypeError: ignored

In [ ]:
store_one = {'bulldog', 'parrot', 'hamster', 'fish'}
store_two = {'fish', 'parrot', 'terrier', 'cat'}

print( store_one.intersection(store_two) )
print( store_one.union(store_two) )

{'parrot', 'fish'}
{'cat', 'parrot', 'hamster', 'bulldog', 'fish', 'terrier'}

This is a basic line

# This is a header
## This is a smaller header
### This is an even smaller header

*This line is in italics*

**This is a bold line**

***This is both*** <br/> *This broke here*

### So wait, why are there both lists and tuples? 

I know, right now it's pretty hard to see why you would use one data type over the other. 

Remember that Python was developed with the ideal of being readable and understandable. That means that when you are writing code, you want to make choices that make it easy for others to understand what is going on. For example, if you have a some variable that contains values that are never going to change, then why would you use a mutable data type such as a list to store it?  

Think of the days of the week or the months of the year: Does it make more sense to define

`days_of_the_week = ("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")`

or 

`days_of_the_week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]`?

By using a tuple to store some data, you are signaling to a reader of your code, that the values you stored are not going to change during the execution of your code.

## **Quick Exercise**

pet_store = ['beagle', 'parrot', 'iguana', 'gerbil', 'chameleon', 'fish']

- We've sold out of `chameleon` and `iguana`, you need to remove them from the inventory. Use both `remove()` and `del` to do so.

- How many `terrier` dogs do we have in the store? (Hint: the `list` data type has a built-in function called `count()`)

## Flow Control

We will learn how to perform successive operations ("looping") without explicitly coding the commands. This is largely understood to be controlling the 'flow' of a program.  

We will control the flow using:

1. Logical statements to check for conditions (performing operations only `if` a condition is met)

2. Continuing execution until a condition is met

3. Iterating through a sequence of numbers using the `range()` function

In order to do this we will learn the commands: `if`, `while`, and `for`

In [3]:
## "Buy a gallon of milk at the store and if there are organic eggs, buy a dozen" 

# Define variables needed
milk = 0
eggs = 0
store_has_eggs = True
# Purchasing decisions
milk += 1 # milk = milk + 1
if store_has_eggs == True:
    eggs += 12
else:
  print('There are no eggs')
# Check what was purchased
print("I purchased ", milk, " gallons of milk")
print("I purchased ", eggs, " eggs")

I purchased  1  gallons of milk
I purchased  12  eggs

## Loops

A loop is used to repeat a block of commands multiple times. There are two ways to write a loop, one is a `for` loop and the other is a `while` loop. Typically, you use a `for` loop when you know how many times you want to loop, and a `while` loop when looping is based on a conditional that will be modified during the loop.

## While loops

A `while` loop is pretty simple, it's structure looks like:

    while a_condition:
        # do something
        ...
        
and it continues until `a_condition` is false.

In [ ]:
# Our numeric variables
number = 43
divisor = 5
answer = 0

# While loop
while number > 0:
    number = number - divisor
    print( number )

38
33
28
23
18
13
8
3
-2

## For loops

A `for` loop lets us repeat a set of commands a defined number of times. The syntax for a `for` loop is just:

    for item in sequence:
        # do something with item
        ...

But what is a sequence?

There are lots of functions in Python that will actually return a sequence - they are called *iterators*. An iterator essentially provides the next element in the sequence each time we access it. 

The iterator that we will use to demonstrate a for loop is the `range()` function. The range function gives us a sequence of numbers from the first number we give it up until the last number we give it.

In [ ]:
for i in range(1, 5):
    print(i)
    print(i*3)
    i = 12
    print(i*3)
    print('---')

1
3
36
---
2
6
36
---
3
9
36
---
4
12
36
---

## Functions

**Writing modular code is good!**

**Functions** are the workhorses of modular programming in Python! So, what's a function?

Whenever you see this syntax:

>    def function_name():
>
>        statements
>
>        return something
        
that block of code is a function. 

Functions help us avoid repeating the same set of statements everytime we want to repeat a task. Functions increase code readibility. Functions make code revision and updating easier (you do not have to re-do revisions in all the places of your code where the task is needed. Functions make testing of your code easier and more reliable.

In [4]:
# Let's write a really simple function -- a function that "says hello".

def says_hello():
    '''
    Prints the word "Hello"
    
    input:
        - None
    output:
        - None
    '''
    
    print('Hello!')
    
# Call the function
# says_hello()

You just wrote a simple function! Notice that after writing it nothing was printed. That is because you didn't *call* the function, You only defined it so Python will know what on earth you're talking about should you so choose to write `says_hello` anywhere.

You *call* a function just by writing its name along with the parentheses:

In [5]:
says_hello()

Hello!

In [8]:
def sum(a,b):
  
  sum = a+b
  print(sum)

In [10]:
sum(10,5)

15

## Pandas

In [ ]:
import pandas as pd

# Now let us load in some data
url = "http://bit.ly/wkspdata"
titanic_data = pd.read_csv(url)

In [ ]:
titanic_data.head() # Gets the first few records

# How do we get the last few records if we wanted to?

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Generate all descriptive statistics

titanic_data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

## Numpy

In [ ]:
import numpy as np # Importing the numpy library

x3 = np.random.randint(10, size=6)  # One-dimensional array
print(x3)

[6 0 6 8 7 6]

In [ ]:
print("x3 ndim: ", x3.ndim)
print("x3 shape:", x3.shape)
print("x3 size: ", x3.size)

x3 ndim:  1
x3 shape: (6,)
x3 size:  6

In [ ]:
# Accessing elements
x3[0]

6

In [ ]:
# Create a 1D array of numbers
arr = np.arange(20)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [ ]:
# Extract all odd numbers from an array

# Input
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# Solution
arr[arr % 2 == 1]

array([1, 3, 5, 7, 9])

## Exercises

- Extract all even numbers from an array
- Extract all numbers from an array which are dicvisible by 3.
- Create a simple 1D array with number from 0-100.
- Read the first 25 elements of a pandas dataframe.